.App {
  text-align: center;
}
.disp{
  margin:2px;
  border: 2px solid black;
}

.button{
  height:30px;
  width:70px;
  background-color: rgb(201, 243, 241);
  border: 1px solid black;
  color: black;
  padding: 3px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 2px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
